html {
    height: 100%;
    font-family: Frutiger, sans-serif;
    font-size: 14px;
    color: #666; 
}

body {
   margin: 0;
   width: 100%;
   padding-left: 30px;
   padding-right: 30px;
}

a {
  color: rgb(119, 119, 119);  
}

header {
  background-color: #f5f5f5;
}

footer {
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.introBlurb {
  padding-left: 10%;
  padding-top: 20px;
}

#loginRequired {
}

#userContent {
  display: none;
}

#mainLogo {
  padding: 15px;
}

#mainView {
}

#viewerDiv {
/*   height: 500px;
   position: relative;
   width: 100%;
   overflow: hidden;*/
}

#modelBrowser {
/*   position: relative;
   left: 0px;
   height: 130;
   width: 100%;*/
}

#resultsData {
/*  position: relative;
  height: 35%;*/
  padding-top: 15px;
}

#simulationCtrls {
  padding-top: 10px;
  position: relative;
  background-color: #f5f5f5;  
}

#commentPanel{
}

.placeholder {
   font-style: italic;
   text-align: center;
}

#noResults {
  padding-top: 15px;
}

#resultTools {
  left: 33%;
  top: 10px;
  position: relative;
  display: none;
}

#signIn{
/*  position: absolute;
  top: 15px;
  right: 15px;*/
}

#signOut {
  display: none;
/*  position: absolute;
  top: 15px;
  right: 15px;*/
}

#notifications {
  position: relative;
}

.userName {
  font-weight: bold;
}

.notificationContent{

}

.notificationItem {
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.model {
  height: 130;
  width: 130;
  border: 1px solid black;
  border-radius: 7px;
  margin: 2px;
}

.model_selected {
  border: 1px solid red;
}

#viewerDiv.injectCursor canvas{
  cursor: url(/images/injectIcon.png) 2 40, default !important;
}
