#AllPointsContainer{
  height: 90%;
  overflow-y: auto;
  overflow-x: auto;
  overflow-x: hidden;
}

.pointContainer{
  border-radius:10px;
  font-size:12px;
  width:345px;
  margin:2px 5px;
  padding:5px 5px 0px 5px;
  position:relative;
}

.pointContainer .inputContainer{
  margin-bottom:3px;
  position:relative;
}

.pointContainer .inputContainer label{
  margin-top: 4px;
  position:absolute;
}

.pointContainer .inputContainer input{
  margin-left:100px;
}

.pointContainer .inputContainer .subLabel{
  margin-left:5px;
  color:white;
}

.pointContainer .inputContainer{
	margin-bottom:3px;
}

.pointContainer .remove{
  color: white;
  position: absolute;
  right: 20px;
  font-size: 24px;
  top: 20px;
}

.pointContainer .remove:hover{
  color: red;
  cursor:pointer;
}

.pointContainer input.uicomponent-panel-input{
	height:20px;
	margin-bottom:3px;
}